*{
      margin: 0;
      padding: 0;
}
body{
      font-family: 'Lato', sans-serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Work Sans', sans-serif;
}
/* sheared style css start  */
.py-color{
      color: #FF42A5;
}
.btn-primary{
      padding: 10px 20px;
      border-radius: 48px;
      background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
      border: none;
      margin-top: 20px;
      color: #FFF;
      font-weight: 600;
      font-size: 12px;
}
.btn-secondry{
      padding: 10px 20px;
      border-radius: 48px;
      background: #4EC5F7;
      border: none;
      margin-top: 20px;
      color: #FFF;
      font-weight: 00;
      font-size: 12px;
      margin-left: 10px;
}
/* sheared style css End  */

/* nav style css start  */
header{
      background: #FFF;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 70%;
      margin: 0 auto;
      padding: 15px;
      
}
.log{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}
.log img{
      width: 27%;
}
.log h3{
      font-size: 27px;
}
.nav-menu-1{
      display: flex;
      align-items: center;
      justify-content: flex-start;
}
.nav-menu-1 ul{
      list-style: none;
      display: flex;
      
}
.nav-menu-1 ul li{
      margin-left: 10px;
      font-size: 14px;
      font-weight: 600;
}
.nav-manu-2{
     
      margin-left: 10px;
      padding: 5px;
      border-radius: 8px;
      background: rgba(11, 2, 35, 0.10);
}
.nav-manu-2 ul{
      list-style: none;
      display: flex; 
}
.nav-manu-2 ul li{
      margin-left: 10px;
     font-size: 14px;
     font-weight: 600;
}
.youtub{
      color: red;
}
/* nav style css End  */
/* banner style css start  */
.banner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
}
.bannre-image{
      width: 40%;
      padding-right: 120px;
}
.banner-content{
      width: 40%;
      padding: 112px 120px;
      background-image: url(images/Group\ 14.png);
      background-size: cover;
      background-position: center;
}
.banner-content h3{
      color: #0B0223;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
}
.banner-content h1{
font-size: 54px;
font-weight: 800;
text-transform: uppercase;
margin-bottom: 16px;

background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-content p{
      color: #534C64;
      font-size: 13px;
      font-weight: 400;
      text-transform: lowercase;
      margin-bottom: 5px;
}
.pink{
      color: #F948B2;
      margin-right: 5px;
}
.bannre-image img{
      width: 100%;
}
/* banner style css End  */
/* we-are-gamer section style css start */
.we-are-gamer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      padding: 50px 150px;
      background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.we-are-gamer-image img{
      width: 100%;
}
.we-are-gamer-content{
      border: 1px solid royalblue;
      padding: 0 50px;
      text-align: right;
      width: 40%;
}
.we-are-gamer-content h3{
      font-size: 22px;
      font-weight: 700;
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 10px;
}
.we-are-gamer-content p{
      color: #534C64;
      font-size: 10px;
      font-weight: 400;
      line-height: 16px;
}
.under-p{
      margin-top: 15px;
      margin-bottom: 10px;
      color: #534C64;
      font-size: 12px;
      font-weight: 400;
}
.under-p .qute{
      color: #534C64;
      font-size: 15px;
      font-weight: 500;
}
/* we-are-gamer section style css End */
/* main section style css start  */
main{
      max-width: 1013px;
      margin: 0 auto;
      border: 1px solid darkred;
}
/* Online Games Funny Videos section pore korbo start  */
/* Online Games Funny Videos section pore korbo end  */

/* play instantly section style css start  */
.play-instant{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      margin: 50px 0;
}
.play-instant-content{
      width: 40%;
      padding-right:  120px;
      padding-left:150px ;
      text-align: right;
}
.play-instant-content h3{
      font-size: 22px;
      font-weight: 700;
}
.play-instant-content h3 > span{
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.play-instant-content p{
      color: #534C64;
      text-align: right;
      font-size: 10px;
      font-weight: 400;
      line-height: 16px;
      margin-top: 15px;
}
.play-instant-image{
      width: 40%;
    

}
.play-instant-image img{
      width: 100%;
}
.sort{
      width: 210px;
      height: 241px;
     position: relative; 
     margin-top: -180px;
     margin-left: -100px;
}
.sort img{
      width: 100%;
}
/* play instantly section style css end */
/* more games section style css start  */
.mor-game{
      
      background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
      padding: 100px 20px;
}
.more-games-container{
      display: flex;  
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 25px;
      padding: 0 15px;
}
.game{
      display: flex;
      align-items: center;
      gap: 10px;
      width: 150px;
      height: auto;
     
}
.image-size{
      width: 30px;
      height: auto;
}
.game:hover{
     background-color: rgba(255, 255, 255, 1);
     padding: 2px 5px;
     border: 1px solid palevioletred;
     border-radius: 30px;
}
/* more games section style css end  */

/* main section style css End  */
/* footer section css start  */
footer{
      background-color: #0B0223;
      padding: 70px 100px;
}
.footer-inner{
      width: 50%;
      margin: 0 auto;
      
}
.footer-logo{
      display: flex;
      gap: 10px;
      align-items: center;
     justify-content: center;
}
.footer-logo img{
      width: 9%;
}
.footer-logo h3{
      color: #FFF;
      font-size: 30px;
}
.footer-list > ul{
      display: flex;
      justify-content: space-between;
      gap: 15px;
      list-style: none;
      margin: 30px 0;
      
}
.footer-list ul li{
      color: #FFF;
      font-size: 15px;
}
.footer-icon{
      display: flex;
      justify-content: center;
      gap: 27px;
      margin: 40px 0;
}
.footer-icon > li{
      color: #FFF;
      list-style: none;
     
}
.icon{
      font-size: 24px;
}
.footer-condition{
      display: flex;
      justify-content: space-between;
      gap: 10px;
      list-style: none;
      margin: 25px 0;
}
.footer-condition{
      color:rgba(255, 255, 255, 0.60);
      list-style: none;
      font-size: 12px;
}
.footer-p p{
      color: rgba(255, 255, 255, 0.60);
      text-align: center;
      font-size: 10px;
}
/* footer section css end  */










/* responsive qureie start*/
/* mobile  */
@media screen and (max-width: 576px) {
      nav,.log,.nav-menu-1,.we-are-gamer,.play-instant, .footer-logo{
            flex-direction: column;
      }
      .nav-manu-2{
            margin-top: 11px;
      }
      .log img {
            width: 50%;
        }
      .banner{
            flex-direction: column-reverse;
      }
      .banner-content {
            padding: 69px 84px;
            width: 60%;
      }
      .bannre-image {
            width: 80%;
            padding-right: 11px;
      }
      .we-are-gamer{
            padding: 50px 25px;
            margin-top: 32px;
      }
      .we-are-gamer-content{
            width: 80%;
            text-align: center;
            padding: 0 0px;
            margin-top: 20px;
      }
      .we-are-gamer-image{
            width: 100%;
      }
      .play-instant-image {
            width: 70%;
      }
      .sort {
            width: 135px;
            height: 203px;
            position: relative;
            margin-top: -126px;
            margin-left: -44px;
      }
      .play-instant-content {
            width: 50%;
            text-align: center;
            padding: 0;
      }
      .play-instant-content p{
            text-align: center;
      }
      .more-games-container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 15px;
            padding: 0 19px;
      }
      .game{
            width: 106px;
            gap: 7px;
      }
      .game h6{
            font-size: 8px;
            margin-right: -8px;
      }
      .image-size{
            width: 14px;
      }
      .footer-list > ul{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 20px;
      }
      footer {
            padding: 71px 0px;
      }
      .footer-logo img {
            width: 18%;
        }
      .footer-inner {
            width: 80%;
      }
      .footer-icon {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 20px;
            text-align: center;
      }
      .footer-condition{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            text-align: center;
            gap: 20px;
      }

}



/* responsive for tablet devices  */
@media screen and (min-width:577px)  and (max-width:960px) {
      .banner-content {
            width: 40%;
            padding: 27px 64px;
      }
      .bannre-image {
            width: 60%;
            padding-right: 43px;
      }
      .we-are-gamer{
            padding: 50px 8px;
            gap: 10px;
      }
      .play-instant-content {
            width: 40%;
            text-align: right;
            padding: 0;
      }
      
}