*{
      margin: 0;
      padding: 0;
}
body{
      font-family: 'Lato', sans-serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Work Sans', sans-serif;
}
/* sheared style css start  */
.py-color{
      color: #FF42A5;
}
.btn-primary{
      padding: 10px 20px;
      border-radius: 48px;
      background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
      border: none;
      margin-top: 20px;
      color: #FFF;
      font-weight: 600;
      font-size: 12px;
}
.btn-secondry{
      padding: 10px 20px;
      border-radius: 48px;
      background: #4EC5F7;
      border: none;
      margin-top: 20px;
      color: #FFF;
      font-weight: 00;
      font-size: 12px;
      margin-left: 10px;
}
/* sheared style css End  */

/* nav style css start  */
header{
      background: #FFF;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 70%;
      margin: 0 auto;
      padding: 15px;
      
}
.log{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}
.log img{
      width: 27%;
}
.log h3{
      font-size: 27px;
}
.nav-menu-1{
      display: flex;
      align-items: center;
      justify-content: flex-start;
}
.nav-menu-1 ul{
      list-style: none;
      display: flex;
      
}
.nav-menu-1 ul li{
      margin-left: 10px;
      font-size: 14px;
      font-weight: 600;
}
.nav-manu-2{
     
      margin-left: 10px;
      padding: 5px;
      border-radius: 8px;
      background: rgba(11, 2, 35, 0.10);
}
.nav-manu-2 ul{
      list-style: none;
      display: flex; 
}
.nav-manu-2 ul li{
      margin-left: 10px;
     font-size: 14px;
     font-weight: 600;
}
.youtub{
      color: red;
}
/* nav style css End  */
/* banner style css start  */
.banner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
}
.bannre-image{
      width: 40%;
      padding-right: 120px;
}
.banner-content{
      width: 40%;
      padding: 112px 120px;
      background-image: url(images/Group\ 14.png);
      background-size: cover;
      background-position: center;
}
.banner-content h3{
      color: #0B0223;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
}
.banner-content h1{
font-size: 54px;
font-weight: 800;
text-transform: uppercase;
margin-bottom: 16px;

background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-content p{
      color: #534C64;
      font-size: 13px;
      font-weight: 400;
      text-transform: lowercase;
      margin-bottom: 5px;
}
.pink{
      color: #F948B2;
      margin-right: 5px;
}
.bannre-image img{
      width: 100%;
}
/* banner style css End  */










/* responsive qureie start*/
/* mobile  */
@media screen and (max-width: 576px) {
      nav,.log,.nav-menu-1{
            flex-direction: column;
      }
      .nav-manu-2{
            margin-top: 11px;
      }
      .log img {
            width: 50%;
        }
      .banner{
            flex-direction: column-reverse;
      }
      .banner-content {
            padding: 69px 105px;
            width: 50%;
      }
      .bannre-image {
            width: 80%;
            padding-right: 11px;
        }
}



/* responsive for tablet devices  */
@media screen and (min-width:577px)  and (max-width:960px) {
      .banner-content {
            width: 40%;
            padding: 27px 64px;
      }
      .bannre-image {
            width: 60%;
            padding-right: 43px;
        }
      
}